*{
    margin: 0;
    padding: 0;
}


#Nav{
    background-color: #A0D683;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
    #Nav > img{
        width: 150px;
    }
    #Nav > h2{
        color: azure;
        text-shadow: 2px 2px 5px black;
    }

    #Nav > nav{
        background-color: #347928;
        padding: 20px;
        border-top-left-radius: 50px;
    }
    #Nav > nav > a{
        text-decoration: none;
        margin: 5px;
        color: white;
    }





    @media all and (max-width:500px){
        #Nav{
            display: none;
        }
    }

    @media all and (min-width:500px){
        .navM{
            display: none;
        }

    }

 
.container-fluid{
    background-color: #A0D683;
}

#head{
    color: azure;
    text-shadow: 2px 2px 5px black;
}

.CA{
    background-color: #DEAA79;
}

#CAhead{
    color: #3D3BF3;
    text-shadow: 2px 2px 5px white ;
    font-weight: bold;
}

#CApara{
    color: white;
    font-size: 17px;
}

.CB{
    background-color: #FFE6A9;
}

#CBh2{
    color:#3D3BF3 ;
    text-shadow: 2px 2px 5px white ;
    font-weight: bold;
}

.CBh4{
    color: #6892D5;
}

.CBpara{
    color: black;
}




